node_modules/
.env
.env.local
.env.development
.env.production
dist/
.turbo/
.next/
coverage/
*.log
tmp/
.DS_Store
packages/*/dist/
apps/*/dist/
apps/*/.next/
apps/*/node_modules/
packages/*/node_modules/
prisma/*.db
docker-data/

